* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  color: steelblue;
  text-align: center;
}

button {
  margin: 20px 10px !important;
}

button:hover {
  background-color: steelblue !important;
}

textarea {
  border-color: steelblue !important;
  padding: 10px !important;
  resize: none !important;
  overflow-y: scroll;
}